@import url('https://fonts.googleapis.com/css?family=Karma');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-size: 18px;
}

body {
  font-family: 'Karma', serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  background-color: $lightest;
  margin: 0.55rem;
  line-height: 1.8;
  color: $text-color;

  @media #{$tablet} {
    margin: 2.2rem;
    line-height: 1.4;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

a {
  color: $darkest;
  text-decoration: underline;
}

a:visited {
  color: $darkest;
}

img {
  width: 100%;
}

header {
  margin-bottom: $spacing * 2.5;
}

p, iframe, div {
  margin-bottom: $spacing;
}

.home {
  max-width: 500px;
}

ul, ol {
  padding-top: 0rem;
  padding-bottom: $spacing;
  padding-left: $spacing;
  margin-left: $spacing;

  li {
    margin-bottom: $spacing / 2;
  }
}

.site-name {
  font-size: 150%;
  margin-bottom: $spacing;

  @media #{$tablet} {
    float: left;
    font-size: 100%;
    margin-bottom: 0;
  }
}

.site-nav {
  @media #{$tablet} {
    float: right;
  }
}

code {
  display: inline-block;
  border: none;
  background-color: #ddd;
}

.highlight pre, .highlight code {
  background-color: $code !important;
  color: white;
}

.highlight pre, .highlight code {
  display: block;
  padding: $spacing / 2;
}

code {
  padding: 1px 0.4rem;
}
