.post {
  // background: $light;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #E5E4DE;

  .measure {
    max-width: 700px;
    margin: auto;
  }

  .post-header {
    margin: 1rem 0 2rem;

    h1 {
      line-height: 1;
      font-weight: 300;
    }
  }

  .py2 {
    font-weight: bold;
    font-weight: normal;
    font-size: 150%;
    margin: 1rem auto;
  }

  .post-content, #disqus_thread {
    line-height: 1.8;
    margin-top: 1.5rem;
  }

  .post-meta {
    opacity: 0.7;
    margin-bottom: 0.5rem;
  }

  .post-summary {
    opacity: 0.7;
  }

  blockquote {
    border-left: 4px solid $grey;
    padding-left: 1.5rem;
    opacity: .8;
    font-style: italic;
    margin: 2rem 0;
  }

  ul, ol {
    padding-left: 1.5rem;
    margin-left: 1.35rem;
  }

  pre, code {
    background-color: $code;
    padding: 0.5rem 0.75rem;
    color: white;
    border: none;
  }

  code {
    padding: 1px 0.4rem;
  }

  &:last-child {
    border-bottom: 0;
  }
}
