.post {
  margin-bottom: $spacing * 2;
  padding-bottom: $spacing * 2;
  border-bottom: 1px solid #E5E4DE;

  .measure {
    max-width: 700px;
    margin: auto;
  }

  .post-header {
    margin: $spacing 0 $spacing * 2;

    h1 {
      line-height: 1;
      font-weight: 300;
    }
  }

  h2 {
    font-size: 125%;
    font-weight: bold;
    margin-bottom: $spacing;
  }

  .py2 {
    font-weight: bold;
    font-weight: normal;
    font-size: 150%;
    margin: $spacing auto;
  }

  .post-content {
    line-height: 1.8;
    margin-top: $spacing * 1.5;
  }

  #disqus_thread {
    line-height: 1.8;
    margin-top: $spacing * 1.5;
  }

  .post-meta {
    opacity: 0.7;
    margin-bottom: $spacing;
  }

  .post-summary {
    opacity: 0.7;
  }

  blockquote {
    border-left: 4px solid $grey;
    padding-left: 1.5rem;
    opacity: .8;
    font-style: italic;
    margin: $spacing * 2 0;
  }


  &:last-child {
    border-bottom: 0;
  }
}
